[bumpversion]
current_version = 0.5.4
commit = True
tag = True
tag_name = v{new_version}
message = Bump version to {new_version}

[bumpversion:file:core/_version.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
